html {
  /* font-size: 62.5%; 10px/16px = 62.5% => 1rem = 10px */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1rem;
  /* align-items: flex-start; */
}
